<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/AutoDealer</property>
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <mapping class="my.project.autodealer.model.characteristics.CarBody"/>
        <mapping class="my.project.autodealer.model.characteristics.Condition"/>
        <mapping class="my.project.autodealer.model.characteristics.FuelType"/>
        <mapping class="my.project.autodealer.model.characteristics.Maker"/>
        <mapping class="my.project.autodealer.model.characteristics.Model"/>
        <mapping class="my.project.autodealer.model.Status"/>
        <mapping class="my.project.autodealer.model.characteristics.Transmission"/>
        <mapping class="my.project.autodealer.model.MakerInfo"/>
        <mapping class="my.project.autodealer.model.OwnerInfo"/>
        <mapping class="my.project.autodealer.model.Car" />
        <mapping class="my.project.autodealer.model.User"/>
        <mapping class="my.project.autodealer.model.Advert"/>
    </session-factory>
</hibernate-configuration>