<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>my.project.autodealer.controller.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name> <!-- mandatory -->
        <url-pattern>/secret/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>my.project.autodealer.controller.listeners.ServletContextListenerImpl</listener-class>
    </listener>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>my.project.autodealer.controller.servlets.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/addUser.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>my.project.autodealer.controller.servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signIn.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>my.project.autodealer.controller.servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logOut.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNewAdvertServlet</servlet-name>
        <servlet-class>my.project.autodealer.controller.servlets.AddNewAdvertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewAdvertServlet</servlet-name>
        <url-pattern>/addAdvert.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAdvertServlet</servlet-name>
        <servlet-class>my.project.autodealer.controller.servlets.ShowAdvertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAdvertServlet</servlet-name>
        <url-pattern>/showAdverts.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserOfficeServlet</servlet-name>
        <servlet-class>my.project.autodealer.controller.servlets.userOfficeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserOfficeServlet</servlet-name>
        <url-pattern>/userOffice.do</url-pattern>
    </servlet-mapping>
</web-app>